* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Arial, Helvetica, sans-serif;
}
.App {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.App > button {
	width: 50%;
	margin: 0.75rem;
	text-align: center;
	font-size: 20px;
	padding: 1rem 0;
	border-radius: 0.3rem;
	box-shadow: 0 0.2rem 0.3rem 0 rgba(0, 0, 0, 0.26);
	border: none;
	background-color: #0271c2;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
